
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root{
  /* color*/
    --tomato : hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /* font-sizes*/
    --fs-200: 0.8rem;
    --fs-400: 1rem;
    --fs-700: 1.6rem;

    /*border radius*/
    --rounded-sm: 0.5rem;
    --rounded-lg: 1rem;

    /* spacing*/
    --space-sm:4px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl: 32px

};


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

  * {
    margin: 0;
  }

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

p, h1 {
    overflow-wrap: break-word;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  #root, #__next {
    isolation: isolate;
  }

  body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto',sans-serif;
    background-color: var(--dark-slate-grey);
  }

.wrapper{
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap-reverse;
}
.content{
  display: grid;
  gap: var(--space-md);
  padding-inline: var(--space-md);
  padding-block-start: var(--space-lg);
}

/* fonts styles*/
.title{
  font-size: var(--fs-700);
  font-weight: bold;
  color: var(--dark-slate-grey);
  line-height: 1.1;
}
p{
  max-width: 60ch;
}
p{
  font-size: var(--fs-400);
  color: var(--charcoal-grey);
  font-weight: 300;

}


/* util*/
  ul li::before{
    content: url("../assets/images/icon-list.svg");
    width: 12px;
    height: 12px;

}
ul {
  display: grid;
  gap: var(--space-sm);
}
li{
  font-size: var(--fs-400);
color: var(--charcoal-grey);
  display: flex;
  align-items: flex-start;
  gap: var(--space-lg);
  margin-left: -40px;
}
form{
  display:grid;
  gap:var(--space-md);
  border: 1px solid ;
}

label{
  font-size:var(--fs-200);
}
input{
  height: 48px;
  width: 100%;
}

.btn{
  height: 48px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .desktop--image{
    display: none;
  }

}
@media only screen and (min-width: 701px) {
  .mobile--image{
    display: none;
  }
}