@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  /* color*/
    --tomato : hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /* font-sizes*/
    --fs-200: 0.9rem;
    --fs-400: 1rem;
    --fs-700: 1.5rem;

    /*border radius*/
    --rounded-sm: 0.5rem;
    --rounded-lg: 1rem;

    /* spacing*/
    --space-sm:4px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl: 32px

};


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

  * {
    margin: 0;
  }

p, h1 {
    overflow-wrap: break-word;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  #root, #__next {
    isolation: isolate;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Robot';
    background-color: var(--dark-slate-grey);
  }
.container, .wrapper{
  background-color: var(--white);
}
  ul li::before{
    content: url("../assets/images/icon-list.svg");
    width: 18px;
    height: 18px;

}

.active{
  display:;
}
@media only screen and (max-witdth: 501px) {
  
  
}