@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    --tomato: hsl(4, 100%, 67%);
    --Shadow: hsla(4, 100%, 67%, 0.502);
    --errorbg: hsl(5, 100%, 95%);
    --orange: hsl(12, 100%, 53%);
    --Soft-red: hsl(350, 99%, 67%);

    --fs-200: 0.9rem;
    --fs-400: 1.2rem;
    --fs-600: 2.5rem;

    /* spacing*/
    --space--sm: 8px;
    --space--md: 16px;
    --space--lg: 24px;
    --space--xl: 32px;
  

  /* radiuses */
  --round--sm: 0.5rem;
  --round--md: 1rem;
  --round--full: 100vmax;

  

    /* gradient */
     --gradient: linear-gradient(to right, var(--Soft-red), var(--tomato));

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button,
input,
label {
  font: inherit;
  background-color: transparent;
  border: none;
}

button {
    cursor: pointer;
  }

/* utils */
.hidden {
    display: none;
  }
  
  .flex--sm {
    display: flex;
    gap: var(--space--sm);
  }
  
  .flex--between {
    display: flex;
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .items-start {
    align-items: start;
  }
  
  .grid--xs {
    display: grid;
    gap: calc(var(--space--sm) * 0.5);
  }
  
  .grid--md {
    display: grid;
    gap: var(--space--md);
  }
  
  /* icons */
  .icon--sm {
    flex-shrink: 0;
  }


  /* text styles */
.title {
    font-weight: bold;
    font-size: var(--fs-600);
    line-height: 1.1;
  }
  
  p {
    max-width: 60ch;
  }
  
  small {
    font-size: var(--fs-200);
  }
  
  .error-message {
    color: var(--tomato);
  }
  

/* container styles*/

body {
    font-family: "Roboto", sans-serif;
    background-color:var(--Dark-Slate-Grey) ;
    color: var(--Charcoal-Grey);
    line-height: 1.4;
  }

.container{
    background-color: var(--White);
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
  }


  .content {
    padding: var(--space--lg);
    display: grid;
    align-content: center;
  }
  
  #success .content {
    min-height: 100dvh;
  }

li {
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: var(--space--sm);

}


    
input{
    border: 1px solid var(--Grey);
    padding: var(--space--md);
    border-radius: var(--round--sm);
    outline: none;
    width: 100%;
}



button{
    background-color: var(--Dark-Slate-Grey);
    padding: var(--space--md);
    border-radius: var(--round--sm);
    width: 100%;
    border: 0;
    color: var(--White);
    cursor: pointer;
}

button:hover {
    background-image: var(--gradient);
    box-shadow: 0px 16px 32px var(--Shadow);
}
    
button:active {
    box-shadow: 0px 2px 10px var(--tomato);
    transform: translateY(3px);
}



    
.error {
    color: var(--tomato);
}
.error-state {
    background-color: var(--errorbg);
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  @media only screen and (max-width: 650px) {
    .image--desktop {
      display: none;
    }

  }
  @media only screen and (min-width: 651px) {
    .image--mobile {
      display: none;
    }

    main {
        display: grid;
        place-items: center;
        min-height: 100vh;
        padding: var(--space--md);
      }

    .container {
    min-height: auto;
    border-radius: var(--round--md);
    padding: var(--space--md);
    }

    .content {
        max-width: 45ch;
      }
    
    #success .content {
    min-height: auto;
    }
    
    .wrapper {
    flex-wrap: nowrap;
    gap: var(--space--lg);
    }
  }