@font-face {
    font-family:'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');

};
:root {
    --Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
};
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center
}
.wrapper{
    width: 280px;
    border-radius: 24px;
    border: 1.5px solid gray;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
div > img{
    width: 40px;
}
.image-div{
    margin-block-end: 24px;
}
h1{ 
    @font-face {
        font-family: 'Roboto-bold';
        src: url('../assets/fonts/Roboto-Bold.ttf');
    }

    font-weight: 700;
    font-size: 32px;
    margin-block-end: 1rem;
}

p{
    margin-bottom: 1rem;
    font-weight: 400;
}

button{
    height: 50px;
    border-radius: 0.5em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: 0;
    color: var(--White);
    background-color: hsl(234, 29%, 20%);
    
}
